{% extends 'layout.html' %}


{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" class="btn btn-primary mt-3" />
</form>
<h1>Articles List</h1>
<hr>
{% for article in articles %}
    {% if article.image %}
        <img src="{{article.image.url}}" style="width:300px">
    {% endif %}
    <a href="{% url 'Retrieve' id=article.id %}"><h2>{{article.title}}</h2></a>
    <p>{{article.description}}</p>
    <hr>
{% endfor %}
{% endblock %}