{% extends 'layout.html' %}

{% block content %}
{% if article.image %}
    <img src="{{article.image.url}}" style="width:500px">
{% endif %}
<h1>{{article.title}}</h1>
<p>{{article.description}}</p>

{% for article_image in article.articleimage_set.all %}
<img src="{{article_image.image.url}}" style="width:256px">
{% endfor %}

{% for comment in article.comment_set.all %}
<h5>{{comment.related_user.first_name}} {{comment.related_user.last_name}}</h5>
<p>{{comment.content}}</p>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="related_article" value="{{article.id}}">
    <textarea name="content" class="form-control mb-3" placeholder="Comment ..."></textarea>
    <input type="hidden" name="related_user" value="1">
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}